* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

main {
    display: flex;
    gap: 2rem;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
}

.nav_item {
    margin: 0 1rem 1rem;
}

.nav_item button {
    width: 100%;
}

.bottom_section {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.bottom_section-left {
    width: 30%;
}